body {
  font-family: Bahnschrift SemiBold, sans-serif;
  padding: 0;
  margin: 0;
}

/* Header */
header {
    border-bottom: 2px solid black;
}

#logo {
  padding: 0em;
}

#nav_menu {
  float: right;
}

#nav_menu ul {
  list-style-type: none;
}

#nav_menu ul li {
  vertical-align: middle;
  text-align: justify;
  display: inline;
  padding: 0em 1.5em 1em;
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

nav a:visited {color: black; text-decoration: none;}
nav a:hover, a:focus {color: gray;}

#nav_menu ul li a.current {
  text-decoration: underline;
}
